:root {
  --color: black;
  --background: white;
  --shape-color: mediumvioletred;

  font: normal 100% / 1.4 sans-serif;
}
body {
  padding: 0.5em;
  margin: 0;
}
#map {
  width: 1000px;
  height: 500px;
  background: #f2f2f2;
}
#map[data-dragged] {
  cursor: grabbing;
}
#map .shape.layer path {
  stroke: var(--shape-color);
  stroke-width: 4;
  stroke-opacity: 0.65;
  fill: none;
}
#map .tiles.layer .attribution {
  font-size: 0;
  z-index: 5000;
}
#map .shape-editor.layer path {
  stroke: var(--shape-color);
  stroke-width: 3;
  fill: none;
}
#map .shape-editor.layer .marker {
  stroke: var(--shape-color);
  stroke-width: 10;
  stroke-opacity: 0.3;
  fill: var(--shape-color);
  cursor: pointer;
}
#map .zoom-controls.layer {
  display: flex;
  flex-direction: column;
  margin: 0.75em;
}
#map .zoom-controls.layer button {
  --border-radius: 0.3em;
  flex: none;
  text-align: center;
  color: black;
  background: white;
  border: 0.02em solid;
  border-radius: var(--border-radius);
  padding: 0.65em;
  margin: 0;
  cursor: pointer;
}
#map .zoom-controls.layer button[data-id="plus"] {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#map .zoom-controls.layer button[data-id="minus"] {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: none;
}
#map .zoom-controls.layer button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}
form {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 0 0.75em 0;
}
form > label,
form > span {
  flex: none;
}
form input {
  font-family: monospace;
  border: none;
  border-bottom: 0.05em solid;
  box-sizing: border-box;
}
form input[name="apikey"] {
  width: 21em;
}
form input[name="lang"] {
  width: 4em;
}
@media (max-width: 600px) {
  form {
    flex-direction: column;
    align-items: start;
  }
  form label > span {
    display: block;
    min-width: 380px;
  }
  form input[name="apikey"],
  form input[name="lang"] {
    width: 100%;
  }
  #map {
    width: 380px;
    height: 300px;
  }
}
